.wppr-prodlist .wppr-prodrow { padding: 20px 0px; width: 100%;}
.wppr-prodlist .wppr-prodrow .wppr-prodrowleft {width: 30%; float: left;}
.wppr-prodlist .wppr-prodrow .wppr-prodrowright {float: left;}
.wppr-prodlist .wppr-prodrow .wppr-prodrowrightadjust {width: 65%;}
.wppr-prodlist .wppr-prodrow .wppr-prodrowright .wppr-rating {margin-top:5px;}
.wppr-prodlist .wppr-prodrow .wppr-prodrowright p {margin: 0px 0px 0px 0px; line-height: 18px;}
.clear {clear: both;}

.cwp-review-chart.relative {position: relative;}
.cwp-review-chart.absolute {position: absolute;}

.wppr-prodlist .wppr-prodrow .wppr-prodrowright .wppr-bttn:first-child{
  margin-right: 10px;
}
.wppr-prodlist .wppr-prodrow .wppr-prodrowright p.wppr-style1-buttons{
  margin-top:10px;
    height: 32px;
    overflow: hidden;
    display: block;
}
.wppr-prodlist .wppr-prodrow .wppr-prodrowright .wppr-bttn{

  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Lato, Arial, sans-serif;
  border-radius: 3px;
  padding: 6px 9px;
  background-color: #3baeda;

  line-height: 36px;

  font-size: 12px;

  font-weight: bold;


  color: #fff !important;

  text-transform: uppercase;

  text-decoration: none;

  white-space: nowrap;
  
  -webkit-transition: all 0.5s ease;
  
  transition: all 0.5s ease;


}



.wppr-prodlist .wppr-prodrow .wppr-prodrowright .bttn:hover{

  opacity: 0.8;

}
