/* Sidebar Popular Reviews Widget */

.cwp-popular-review { position: relative; border-bottom: 1px solid #ddd; margin: 0; padding: 15px 0px!important;}

.cwp-popular-review .cwp-review-chart canvas, .cwp-popular-review .cwp-review-chart span  { width: 40px!important; height: 40px!important; line-height: 2.3; }
.cwp-popular-review .cwp-review-chart .cwp-review-percentage { top: -1px; left: -1px; }
.cwp-popular-review .cwp-review-chart { border: 0px solid #fff; width: 40px; height: 40px; top: 56%; margin-top: -22px; }
/* Review Pie Chart Styles */
.cwp-review-chart { float: left; margin: 10px;margin-right:0px; position: absolute;top: 0;right: 0; border: 3px solid #fff; border-radius: 50%;}
.cwp-review-percentage span { font-family: "Lato"; font-size: 17px; font-weight: 900; background: #fff; display: block;border-radius: 50%; }
.cwp_easyPieChart { position: relative; text-align: center; }
.cwp_easyPieChart canvas { position: absolute; top: 0; left: 0; }
.cwp-popular-review .cwp_easyPieChart span { text-align:center; }
.cwp-popular-review:before {
	content:""!important;
} 

.cwp-popular-review .cwp_rev_image {
	margin-right:10px;
	border-radius: 3px;
	width: 50px!important;
	vertical-align: middle;
}

.widget_cwp_top_products_widget ul, .widget_cwp_latest_products_widget ul  {
	margin-left:0px!important;
	padding-left:0px!important;
}

.widget_cwp_top_products_widget li, .widget_cwp_latest_products_widget li  {
	margin-left:0px!important;
	list-style:none!important;
	background-image:none;
}

.widget_cwp_top_products_widget li a, .widget_cwp_latest_products_widget li a{
	border:none!important;
	padding:0px!important;
}
