/* #Clearing

================================================== */
/* Self Clearing Goodness */
.container:after {
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

/* <div class="rowf1f1f1*/
.clearfix:before,.clearfix:after,.row:before,.row:after {
    content:'\0020';
    display:block;
    overflow:hidden;
    visibility:hidden;
    width:0;
    height:0
}

.row:after,.clearfix:after {
    clear:both
}

.row,.clearfix {
    zoom:1
}

.clear {
    clear:both;
    display:block;
    overflow:hidden;
    visibility:hidden;
    width:0;
    height:0
}

.product-review-meta-Yes .review-settings-notice {
    display:block!important
}

.isReviewYes {
   
}

.product-review-meta-Yes .review-settings-group {
    display:block!important
}

.review-settings-notice,.review-settings-group {
    display:none
}

.preloadInfo {
    width:90%
}

.review-settings-notice h4 {
    margin:0!important
}

.review-settings-group .review-settings-group-option {
    margin:5px 0
}

.review-settings-group input {
    padding:4px
}

.review-settings-notice {
    background:#fff;
    border:1px solid #ddd;
    padding:5px 10px;
    border-radius:3px 3px 0 0
}

.review-settings-group {
    padding:10px;
    border:1px solid #ddd;
    background:#fff;
    border-top:none;
    border-radius:0 0 3px 3px;
    margin-bottom:5px
}

.review-settings-group label.option_label {
    display:block;
    float:left;
    background:#e7e7e7;
    padding:4.5px 7px;
    margin:1px;
    margin-right:-1px;
    border-radius:3px 0 0 3px;
    font-weight:700
}

.review-settings-group .option_grade {
    width:55px;
    text-align:center;
    border-radius:0 3px 3px 0;
    margin-left:-3px;
    border-left:none
}

.review-settings-group .option_content {
    border-radius:3px 0 0 3px;
    margin-right:0
}

.review-settings-group #option_overall_score {
    width:50px;
    border-radius:0 3px 3px 0
}

.review-settings-group ul li label {
    display:block;
    float:left;
    width:140px;
    line-height:2.3;
    font-weight:700
}

.review-settings-group ul li input {
    width:200px
}

img.theme_options_logo {
    margin-top:-5px;
    margin-right:20px
}

.preload_result {
    position:absolute;
    top:0!important;
    left:0;
    right:0;
    bottom:0!important;
    background:rgba(0,0,0,0.3);
    z-index:9999!important;
    display:none
}

.preload_result .preload_inner {
    position:fixed;
    background:#fff;
    min-width:600px;
    height:500px;
    top:50%;
    margin-top:-250px;
    left:50%;
    margin-left:-300px;
    box-shadow:0 2px 10px rgba(0,0,0,0.3)
}

.preload_result .preload_inner > header {
    border-bottom:1px solid #ddd;
    padding:10px 20px;
    position:relative
}

.preload_result .preload_inner > header h2 {
    margin:0;
    padding:0;
    line-height:1;
    padding:10px 0
}

.preload_result .preload_inner .preload_close {
    position:absolute;
    top:20px;
    right:20px;
    background:#ddd;
    width:20px;
    height:20px;
    border-radius:5px
}

.preload_result .preload_inner .preload_close:before {
    font:400 20px/1 dashicons!important;
    content:"\f158"
}

.preload_result .preload_inner .preload_close:hover {
    cursor:pointer;
    opacity:.5
}

.preload_result .ajax_load_icon {
    position:absolute;
    width:40px;
    height:40px;
    top:50%;
    left:50%;
    margin-left:-20px;
    margin-top:-20px
}

.preload_result .preload_list {
    overflow-y:scroll;
    height:400px
}

.preload_result .preload_list .cwp_preloaded_item {
    width:98%;
    border-bottom:1px solid #ddd;
    margin:0;
    padding:5px;
    margin-right:2%
}

.preload_result .preload_list .cwp_preloaded_item:first-child {
    border-top:1px solid #ddd
}

.preload_result .preload_list .cwp_preloaded_item header .cwp_p_title {
    float:left;
    width:80%;
    margin:0;
    padding:0;
    font-size:13px;
    line-height:2
}

.preload_result .preload_list .cwp_preloaded_item header .cwp_p_title:hover {
    cursor:pointer;
    color:#2ea1cd
}

.preload_result .preload_list .cwp_preloaded_item header .cwp_p_title:before {
    font:400 13px/1 dashicons!important;
    content:"\f139";
    color:#ddd
}

.preload_result .preload_list .cwp_preloaded_item header button.preload {
    width:5%;
    float:right;
    margin:0;
    background-color:#7fbf4d;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#7fbf4d),color-stop(100%,#63a62f));
    background-image:-webkit-linear-gradient(top,#7fbf4d,#63a62f);
    background-image:-moz-linear-gradient(top,#7fbf4d,#63a62f);
    background-image:-ms-linear-gradient(top,#7fbf4d,#63a62f);
    background-image:-o-linear-gradient(top,#7fbf4d,#63a62f);
    background-image:linear-gradient(top,#7fbf4d,#63a62f);
    border:1px solid #63a62f;
    border-bottom:1px solid #5b992b;
    border-radius:3px;
    -webkit-box-shadow:inset 0 1px 0 0 #96ca6d;
    box-shadow:inset 0 1px 0 0 #96ca6d;
    color:#fff;
    font:bold 20px/1;
    padding:3px 0 5px;
    text-align:center;
    text-shadow:0 -1px 0 #4c9021
}

.preload_result .preload_list .cwp_preloaded_item header button.preload:hover {
    background-color:#76b347;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#76b347),color-stop(100%,#5e9e2e));
    background-image:-webkit-linear-gradient(top,#76b347,#5e9e2e);
    background-image:-moz-linear-gradient(top,#76b347,#5e9e2e);
    background-image:-ms-linear-gradient(top,#76b347,#5e9e2e);
    background-image:-o-linear-gradient(top,#76b347,#5e9e2e);
    background-image:linear-gradient(top,#76b347,#5e9e2e);
    -webkit-box-shadow:inset 0 1px 0 0 #8dbf67;
    box-shadow:inset 0 1px 0 0 #8dbf67;
    cursor:pointer
}

.preload_result .cwp_preloaded_item .cwp_pitem_info {
    float:left;
    width:100%;
    margin-top:5px;
    display:none
}

.preload_result .cwp_preloaded_item .cwp_pitem_info ul {
    margin:0;
    width:30.66%;
    margin-right:4%;
    float:left;
    margin-bottom:10px
}

.preload_result .cwp_preloaded_item .cwp_pitem_info ul:last-of-type {
    margin-right:0!important
}

.preload_result .cwp_preloaded_item .cwp_pitem_info ul li {
    border:1px solid #f1f1f1;
    border-bottom:none;
    font-size:10px;
    padding-left:10px;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}

.preload_result .cwp_preloaded_item .cwp_pitem_info ul li:hover {
    background:#7fbf4d;
    color:#fff;
    cursor:pointer
}

.preload_result .cwp_preloaded_item .cwp_pitem_info ul li:last-of-type {
    border-bottom:1px solid #f1f1f1
}

.preload_result .cwp_preloaded_item .cwp_pitem_info ul li,.preload_result .cwp_preloaded_item .cwp_pitem_info ul h4 {
    margin:0
}

.preload_result .cwp_preloaded_item .cwp_pitem_info ul h4 {
    margin:0;
    text-align:center;
    background:#f1f1f1;
    padding:3px 0;
    border-radius:3px 3px 0 0
}

a.preload_info {
    background-color:#7fbf4d;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#7fbf4d),color-stop(100%,#63a62f));
    background-image:-webkit-linear-gradient(top,#7fbf4d,#63a62f);
    background-image:-moz-linear-gradient(top,#7fbf4d,#63a62f);
    background-image:-ms-linear-gradient(top,#7fbf4d,#63a62f);
    background-image:-o-linear-gradient(top,#7fbf4d,#63a62f);
    background-image:linear-gradient(top,#7fbf4d,#63a62f);
    border:1px solid #63a62f;
    border-bottom:1px solid #5b992b;
    border-radius:3px;
    -webkit-box-shadow:inset 0 1px 0 0 #96ca6d;
    box-shadow:inset 0 1px 0 0 #96ca6d;
    color:#fff;
    font:bold 20px/1;
    padding:3px 0 5px;
    text-align:center;
    text-shadow:0 -1px 0 #4c9021;
    text-decoration:none;
    float:right;
    margin-top:-34px;
    padding:5px 10px
}

a.preload_info:hover {
    background-color:#76b347;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#76b347),color-stop(100%,#5e9e2e));
    background-image:-webkit-linear-gradient(top,#76b347,#5e9e2e);
    background-image:-moz-linear-gradient(top,#76b347,#5e9e2e);
    background-image:-ms-linear-gradient(top,#76b347,#5e9e2e);
    background-image:-o-linear-gradient(top,#76b347,#5e9e2e);
    background-image:linear-gradient(top,#76b347,#5e9e2e);
    -webkit-box-shadow:inset 0 1px 0 0 #8dbf67;
    box-shadow:inset 0 1px 0 0 #8dbf67;
    cursor:pointer
}

/**
 * Custom Icon
 */
#bar-icon-elements {
    display:none
}

#bar-icon-elements.active {
display: block;
position: fixed;
background: #fff;
border-radius: 3px;
width: 400px;
height: 200px;
top: 10%;
left: 50%;
margin-left: -200px;
padding: 20px;
box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

#bar-icon-elements i,.current_bar_icon i {
    display:inline-block;
    font-size:15px;
    margin:3px;
    border:1px solid #ddd;
    border-radius:3px;
    width:25px;
    height:25px;
    line-height:26px;
    color:#858585
}

#bar-icon-elements i:hover {
    cursor:pointer;
    border:1px solid #ff9300;
    color:#ff9300
}

#bar-icon-elements .closeModal {
    position:absolute;
    top:-10px;
    right:-10px
}

#bar-icon-elements .closeModal:hover i,#bar-icon-elements i.active {
    background:#ff9300;
    color:#fff
}

#bar-icon-elements .closeModal i {
    line-height:25px;
    border:none;
    background:#000;
    color:#fff;
    text-align:center;
    border-radius:50%
}

#tab-general_settings li {
    list-style: none;
    margin-left: 0;
    padding: 0;
}