/*
	Version: 3.1.0
*/
#review-statistics {
	width: 100%;
	margin: auto;
	font-family: FontAwesome;
}

.cwp-item-price {
	float: right;
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 1.75em;
}

#review-statistics h1,
#review-statistics h2,
#review-statistics h3,
#review-statistics h4,
#review-statistics h5,
#review-statistics h6 {
	margin: 0;
	padding: 0;
	border: none;
	font-family: "Lato", Helvetica, sans-serif;
	font-weight: normal;
}

.rev-option h3 {
	width: auto !important;
}

#review-statistics .photo-wrapup {
	width: 100%;
}

#review-statistics {
	font-family: FontAwesome;
}

#review-statistics .sec-top {
	margin: 40px 0 20px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#review-statistics .sec-top h2 {
	margin: 0;
	padding: 20px 0;
	padding-left: 20px;
	border-right: 4px solid #d8d8d8;
	border-left: 4px solid #d8d8d8;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 1.643em;
	font-weight: normal;
	font-style: italic;
	line-height: 0;
	letter-spacing: -1px;
	text-transform: uppercase;
}

#review-statistics .sec-top h2 i {
	margin-right: 10px;
	color: #d9d9d9;
}

#review-statistics .container .edit-article {
	padding-right: 35px;
	text-align: right;
}

#review-statistics .container .edit-article a {
	padding: 5px 10px;
	border-radius: 4px;
	color: #7d7d7d;
	background: #f3f3f3;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
}

#review-statistics .container .edit-article a:hover {
	background: #ddd;
}

#review-statistics .article-meta {
	margin: 20px 0 20px 0;
}

#review-statistics .icon-bar-chart:before {
	content: "\f080";
}

#review-statistics .review-wu-right .cons {
	margin-top: 15px;
}

#review-statistics .sec-top h2 i {
	margin-right: 10px;
	color: #d9d9d9;
}

#review-statistics .cwpr_clearfix:after {
	display: block;
	visibility: hidden;
	overflow: hidden;
	width: 0;
	height: 0;
	content: "\0020";
}

#review-statistics .cwpr_clearfix:after {
	clear: both;
}

#review-statistics .cwpr_clearfix {
	zoom: 1;
}

#review-statistics .cwp-review-chart {
	float: left;
	position: relative !important;
	top: 0;
	right: 0;
	border-radius: 50%;
}

#review-statistics .cwp-review-percentage span {
	display: block;
	border-radius: 50%;
	background: #fff;
	font-family: "Lato";
	font-size: 17px;
	font-weight: 900;
}

.cwp-review-rating {
	line-height: inherit !important;
}

#review-statistics .cwp_easyPieChart {
	position: relative;
	text-align: center;
}

#review-statistics .cwp_easyPieChart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#review-statistics .review-wrap-up {
	margin-top: 20px;
	border: 1px solid #e6e6e6;
	border-top: none;
}

#review-statistics .review-wu-bars h3,
.review-wu-bars span {
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
	font-size: 13px !important;
	font-style: italic;
	line-height: 2;
	text-transform: uppercase;
}

#review-statistics .review-wu-bars h3 {
	float: left;
}

#review-statistics .review-wu-bars span {
	float: right;
	line-height: 2;
	text-align: right;
}

#review-statistics .review-wu-bars {
	float: left;
	width: 90%;
	padding: 0 5% 10px 5%;
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: none;
	border-left: none;
}

#review-statistics .review-wu-bars ul {
	width: 100% !important;
	margin: 0;
	margin-left: 0 !important;
	padding-left: 0 !important;
}

#review-statistics .review-wu-bars ul li {
	display: inline-block;
	float: left;
	width: 8.2%;
	height: 6px;
	margin-right: 2%;
}

#review-statistics .rev-option.customBarIcon ul li {
	width: 28px;
	height: auto !important;
	margin: 0;
	background: none;
	font-size: 15px;
}

#review-statistics .rev-option.customBarIcon ul li i {
	font-size: 22px;
	font-style: normal !important;
	line-height: 1;
	text-align: center;
}

#review-statistics .rev-option.customBarIcon h3,
#review-statistics .rev-option.customBarIcon span {
	padding: 0 4px;
}

#review-statistics .review-wu-bars ul li:nth-child(10) {
	margin: 0 !important;
}

#review-statistics .review-wu-bars .rev-option div > * {
	display: inline-block;
}

#review-statistics .review-wrap-up .cwpr-review-top {
	padding: 20px;
	border-top: 5px solid #3baeda;
	border-bottom: 1px solid #e6e6e6;
}

#review-statistics .review-wrap-up .cwpr-review-top .cwp-item {
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 1;
}

#review-statistics .review-wrap-up .cwpr-review-top h2.cwp-item {
	float: left;
	width: auto !important;
	letter-spacing: 1px;
}

#review-statistics .review-wrap-up .cwpr-review-top .cwp-item-category a {
	font-weight: 500;
	font-style: italic;
	text-decoration: none;
	letter-spacing: 1px;
}

#review-statistics .review-wrap-up .cwpr-review-top .cwp-item-category a:hover {
	text-decoration: underline;
}

#review-statistics .review-wrap-up .cwpr-review-top .cwp-item-category i {
	margin-right: 5px;
	color: #e3e3e3;
}

#review-statistics .review-wrap-up .review-wu-left {
	float: left;
	width: 51%;
	margin-top: 10px;
}

.wppr-review-container.wppr-review-no-pros.wppr-review-no-cons #review-statistics .review-wrap-up .review-wu-left {
	width: 100%;
}

#review-statistics .review-wrap-up .review-wu-left .rev-wu-image {
	float: left;
	overflow: hidden;
	width: 40%;
	margin-right: 5%;
	margin-left: 5%;
	padding: 0;
	border-top: none;
	text-align: center;
}

#review-statistics .review-wrap-up .review-wu-left .rev-wu-image img {
	width: 100%;
	height: auto;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#review-statistics .review-wrap-up .review-wu-left .review-wu-grade {
	display: block;
	float: left;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	border: 1px solid #e6e6e6;
	border-top: none;
	border-bottom: none;
	text-align: center;
}

#review-statistics .review-wrap-up .review-wu-left .review-wu-grade .cwp-review-chart {
	display: inline-block;
	float: none;
	position: relative;
	margin: 0;
}

#review-statistics .review-wrap-up .review-wu-left .review-wu-grade .cwp-review-chart .cwp-review-percentage {
	width: 150px;
}

#review-statistics .review-wrap-up .review-wu-right {
	float: left;
	width: 44%;
	padding: 2% 2% 2% 3%;
	border-top: none;
}

#review-statistics .review-wrap-up .review-wu-right h2 {
	margin-bottom: 0;
	font-family: "Lato";
	font-size: 15px;
	font-weight: 800;
	text-transform: uppercase;
}

#review-statistics .review-wrap-up .review-wu-right ul li {
	margin: 0 0 2%;
	padding-left: 0;
	font-family: "Lato";
	font-size: 16px;
	line-height: 1;
}

#review-statistics .review-wrap-up .review-wu-right ul li:before {
	margin-right: 5px;
	content: "-";
}

.review-wu-right ul li {
	background: none !important;
}

.wppr-comment-form-meta input {
	background: none !important;
}

.rev-wu-image img {
	margin: 0 !important;
	padding: 0 !important;
	background: none !important;
}

.rev-option ul li {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.review-wu-bars,
.review-wu-right {
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
	text-align: left;
}

#review-statistics .rev-option {
	margin-top: 10px;
}

.affiliate-button {
	clear: both;
	width: 100%;
	margin-bottom: 20px;
}

.affiliate-button2 {
	float: left;
	clear: none !important;
	width: 50% !important;
	margin-bottom: 20px;
}

.affiliate-button a {
	display: table;
	margin: 20px auto 0;
	padding: 10px 35px;
	border: none;
	border-radius: 5px;
	text-decoration: none !important;
}

.affiliate-button a:hover span {
	text-decoration: none;
	;
}

.affiliate-button a span {
	margin-left: -10px;
	padding-left: 20px;
	font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Lato, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	text-decoration: none;
	text-transform: uppercase;
}

#review-statistics .review-wrap-up .review-wu-right ul {
	margin-top: 10px !important;
	margin-left: 0;
	padding-left: 0 !important;
	list-style: none;
	;
}

#wppr-slider-comment .wppr-comment-form-meta {
	float: right;
	position: relative;
	width: 100%;
	margin-bottom: 12px;
}

#wppr-slider-comment .wppr-comment-form-meta label {
	display: block;
	float: left;
	width: 80%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 2;
}

#wppr-slider-comment .wppr-comment-form-meta .meta_option_input {
	float: right;
	width: 12%;
	min-width: 0;
	height: 26px;
	margin: 0;
	padding: 5px 0 0 0;
	border: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
	text-align: center;
}

#wppr-slider-comment .wppr-comment-form-meta .wppr-comment-meta-slider {
	float: left;
	width: 100%;
	height: 7px;
	margin-top: 5px !important;
	border: none;
	background: #f3f3f3;
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

#wppr-slider-comment .wppr-comment-form-meta .wppr-comment-meta-slider .ui-slider-handle {
	top: -4px;
	left: 5px;
	width: 13px;
	height: 13px;
	border: none;
	border-radius: 50%;
	background: #3baeda;
}

#wppr-slider-comment .wppr-comment-form-meta .wppr-comment-meta-slider .ui-slider-handle:hover {
	-webkit-box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

#wppr-slider-comment cite.review-info {
	color: #ddd;
	font-style: italic !important;
}

/* User Comment Grades Styles */

.user-comments-grades {
	float: right;
	width: 200px;
	margin-top: 25px;
	margin-left: 15px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.user-comments-grades * {
	margin: 0 !important;
	padding: 0 !important;
}

.user-comments-grades .comment-meta-option-name {
	float: left;
	margin-bottom: 3px !important;
	color: #7d7d7d;
	font-size: 10px;
	text-transform: uppercase;
}

.user-comments-grades .comment-meta-option-grade {
	float: right;
	clear: none !important;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.user-comments-grades .comment-meta-option {
	margin-bottom: 10px !important;
}

.user-comments-grades .comment-meta-option:last-of-type {
	margin-bottom: 0 !important;
}

/* Comment Form Meta Options - GRADE BAR */

.comment-meta-option .comment-meta-grade-bar {
	overflow: hidden;
	width: 100%;
	height: 5px;
	border-radius: 32px;
	background: #ebedef;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.comment-meta-grade {
	height: 100%;
}

#wppr-slider-comment {
	display: block;
	width: 230px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.wppr-comment-form-meta {
	width: 100% !important;
}

.cwpr_clearfix {
	clear: both !important;
}

/* Comment Form Meta Options - GRADE BAR */

#wppr-slider-comment .comment-meta-option .comment-meta-grade-bar {
	overflow: hidden;
	width: 100%;
	height: 5px;
	border-radius: 32px;
	background: #ebedef;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.review-wu-right ul li {
	list-style: none !important;
}

.cwp-chart-embed {
	position: relative !important;
	margin: 10px !important;
}

@media (max-width: 440px) {
	#review-statistics .review-wrap-up .review-wu-left {
		width: 100%;
	}

	#review-statistics .review-wrap-up .review-wu-right {
		width: 95%;
		padding-left: 5%;
	}

	#review-statistics .review-wrap-up .review-wu-left .review-wu-grade {
		border-right: none;
	}

	#review-statistics .review-wrap-up .review-wu-left .rev-wu-image,
	#review-statistics .review-wrap-up .review-wu-left .review-wu-grade {
		height: 130px;
	}

	#review-statistics .review-wrap-up .review-wu-left .review-wu-grade .cwp-review-chart .cwp-review-percentage {
		margin-top: 10%;
	}

	#review-statistics .review-wrap-up .review-wu-left .review-wu-grade .cwp-review-chart span {
		font-size: 30px;
	}
}

@media (min-width: 440px) and (max-width: 700px) {
	#review-statistics .review-wrap-up .review-wu-left .rev-wu-image,
	#review-statistics .review-wrap-up .review-wu-left .review-wu-grade {
		height: 100px;
	}

	#review-statistics .review-wrap-up .review-wu-left .review-wu-grade .cwp-review-chart .cwp-review-percentage {
		margin-top: 10%;
	}

	#review-statistics .review-wrap-up .review-wu-left .review-wu-grade .cwp-review-chart span {
		font-size: 30px;
	}
}

@media (min-width: 700px) and (max-width: 820px) {
	#review-statistics .review-wrap-up .review-wu-left .rev-wu-image,
	#review-statistics .review-wrap-up .review-wu-left .review-wu-grade {
		height: 130px;
	}

	#review-statistics .review-wrap-up .review-wu-left .review-wu-grade .cwp-review-chart .cwp-review-percentage {
		margin-top: 10%;
	}

	#review-statistics .review-wrap-up .review-wu-left .review-wu-grade .cwp-review-chart span {
		font-size: 30px;
	}
}

.cwp-review-percentage.cwp_easyPieChart canvas {
	position: absolute;
	left: 0;
}

.cwp-review-percentage.cwp_easyPieChart {
	position: relative;
	text-align: center;
}

.review-wu-grade .cwp-review-chart {
	float: none;
	position: relative;
}
