
.wppr-c100.wppr-p1 .wppr-bar {
    -webkit-transform: rotate(3.6deg);
    -ms-transform: rotate(3.6deg);
    transform: rotate(3.6deg);
}

.wppr-c100.wppr-p2 .wppr-bar {
    -webkit-transform: rotate(7.2deg);
    -ms-transform: rotate(7.2deg);
    transform: rotate(7.2deg);
}

.wppr-c100.wppr-p3 .wppr-bar {
    -webkit-transform: rotate(10.8deg);
    -ms-transform: rotate(10.8deg);
    transform: rotate(10.8deg);
}

.wppr-c100.wppr-p4 .wppr-bar {
    -webkit-transform: rotate(14.4deg);
    -ms-transform: rotate(14.4deg);
    transform: rotate(14.4deg);
}

.wppr-c100.wppr-p5 .wppr-bar {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
}

.wppr-c100.wppr-p6 .wppr-bar {
    -webkit-transform: rotate(21.6deg);
    -ms-transform: rotate(21.6deg);
    transform: rotate(21.6deg);
}

.wppr-c100.wppr-p7 .wppr-bar {
    -webkit-transform: rotate(25.2deg);
    -ms-transform: rotate(25.2deg);
    transform: rotate(25.2deg);
}

.wppr-c100.wppr-p8 .wppr-bar {
    -webkit-transform: rotate(28.8deg);
    -ms-transform: rotate(28.8deg);
    transform: rotate(28.8deg);
}

.wppr-c100.wppr-p9 .wppr-bar {
    -webkit-transform: rotate(32.4deg);
    -ms-transform: rotate(32.4deg);
    transform: rotate(32.4deg);
}

.wppr-c100.wppr-p10 .wppr-bar {
    -webkit-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    transform: rotate(36deg);
}

.wppr-c100.wppr-p11 .wppr-bar {
    -webkit-transform: rotate(39.6deg);
    -ms-transform: rotate(39.6deg);
    transform: rotate(39.6deg);
}

.wppr-c100.wppr-p12 .wppr-bar {
    -webkit-transform: rotate(43.2deg);
    -ms-transform: rotate(43.2deg);
    transform: rotate(43.2deg);
}

.wppr-c100.wppr-p13 .wppr-bar {
    -webkit-transform: rotate(46.8deg);
    -ms-transform: rotate(46.8deg);
    transform: rotate(46.8deg);
}

.wppr-c100.wppr-p14 .wppr-bar {
    -webkit-transform: rotate(50.4deg);
    -ms-transform: rotate(50.4deg);
    transform: rotate(50.4deg);
}

.wppr-c100.wppr-p15 .wppr-bar {
    -webkit-transform: rotate(54deg);
    -ms-transform: rotate(54deg);
    transform: rotate(54deg);
}

.wppr-c100.wppr-p16 .wppr-bar {
    -webkit-transform: rotate(57.6deg);
    -ms-transform: rotate(57.6deg);
    transform: rotate(57.6deg);
}

.wppr-c100.wppr-p17 .wppr-bar {
    -webkit-transform: rotate(61.2deg);
    -ms-transform: rotate(61.2deg);
    transform: rotate(61.2deg);
}

.wppr-c100.wppr-p18 .wppr-bar {
    -webkit-transform: rotate(64.8deg);
    -ms-transform: rotate(64.8deg);
    transform: rotate(64.8deg);
}

.wppr-c100.wppr-p19 .wppr-bar {
    -webkit-transform: rotate(68.4deg);
    -ms-transform: rotate(68.4deg);
    transform: rotate(68.4deg);
}

.wppr-c100.wppr-p20 .wppr-bar {
    -webkit-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    transform: rotate(72deg);
}

.wppr-c100.wppr-p21 .wppr-bar {
    -webkit-transform: rotate(75.6deg);
    -ms-transform: rotate(75.6deg);
    transform: rotate(75.6deg);
}

.wppr-c100.wppr-p22 .wppr-bar {
    -webkit-transform: rotate(79.2deg);
    -ms-transform: rotate(79.2deg);
    transform: rotate(79.2deg);
}

.wppr-c100.wppr-p23 .wppr-bar {
    -webkit-transform: rotate(82.8deg);
    -ms-transform: rotate(82.8deg);
    transform: rotate(82.8deg);
}

.wppr-c100.wppr-p24 .wppr-bar {
    -webkit-transform: rotate(86.4deg);
    -ms-transform: rotate(86.4deg);
    transform: rotate(86.4deg);
}

.wppr-c100.wppr-p25 .wppr-bar {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.wppr-c100.wppr-p26 .wppr-bar {
    -webkit-transform: rotate(93.6deg);
    -ms-transform: rotate(93.6deg);
    transform: rotate(93.6deg);
}

.wppr-c100.wppr-p27 .wppr-bar {
    -webkit-transform: rotate(97.2deg);
    -ms-transform: rotate(97.2deg);
    transform: rotate(97.2deg);
}

.wppr-c100.wppr-p28 .wppr-bar {
    -webkit-transform: rotate(100.8deg);
    -ms-transform: rotate(100.8deg);
    transform: rotate(100.8deg);
}

.wppr-c100.wppr-p29 .wppr-bar {
    -webkit-transform: rotate(104.4deg);
    -ms-transform: rotate(104.4deg);
    transform: rotate(104.4deg);
}

.wppr-c100.wppr-p30 .wppr-bar {
    -webkit-transform: rotate(108deg);
    -ms-transform: rotate(108deg);
    transform: rotate(108deg);
}

.wppr-c100.wppr-p31 .wppr-bar {
    -webkit-transform: rotate(111.6deg);
    -ms-transform: rotate(111.6deg);
    transform: rotate(111.6deg);
}

.wppr-c100.wppr-p32 .wppr-bar {
    -webkit-transform: rotate(115.2deg);
    -ms-transform: rotate(115.2deg);
    transform: rotate(115.2deg);
}

.wppr-c100.wppr-p33 .wppr-bar {
    -webkit-transform: rotate(118.8deg);
    -ms-transform: rotate(118.8deg);
    transform: rotate(118.8deg);
}

.wppr-c100.wppr-p34 .wppr-bar {
    -webkit-transform: rotate(122.4deg);
    -ms-transform: rotate(122.4deg);
    transform: rotate(122.4deg);
}

.wppr-c100.wppr-p35 .wppr-bar {
    -webkit-transform: rotate(126deg);
    -ms-transform: rotate(126deg);
    transform: rotate(126deg);
}

.wppr-c100.wppr-p36 .wppr-bar {
    -webkit-transform: rotate(129.6deg);
    -ms-transform: rotate(129.6deg);
    transform: rotate(129.6deg);
}

.wppr-c100.wppr-p37 .wppr-bar {
    -webkit-transform: rotate(133.2deg);
    -ms-transform: rotate(133.2deg);
    transform: rotate(133.2deg);
}

.wppr-c100.wppr-p38 .wppr-bar {
    -webkit-transform: rotate(136.8deg);
    -ms-transform: rotate(136.8deg);
    transform: rotate(136.8deg);
}

.wppr-c100.wppr-p39 .wppr-bar {
    -webkit-transform: rotate(140.4deg);
    -ms-transform: rotate(140.4deg);
    transform: rotate(140.4deg);
}

.wppr-c100.wppr-p40 .wppr-bar {
    -webkit-transform: rotate(144deg);
    -ms-transform: rotate(144deg);
    transform: rotate(144deg);
}

.wppr-c100.wppr-p41 .wppr-bar {
    -webkit-transform: rotate(147.6deg);
    -ms-transform: rotate(147.6deg);
    transform: rotate(147.6deg);
}

.wppr-c100.wppr-p42 .wppr-bar {
    -webkit-transform: rotate(151.2deg);
    -ms-transform: rotate(151.2deg);
    transform: rotate(151.2deg);
}

.wppr-c100.wppr-p43 .wppr-bar {
    -webkit-transform: rotate(154.8deg);
    -ms-transform: rotate(154.8deg);
    transform: rotate(154.8deg);
}

.wppr-c100.wppr-p44 .wppr-bar {
    -webkit-transform: rotate(158.4deg);
    -ms-transform: rotate(158.4deg);
    transform: rotate(158.4deg);
}

.wppr-c100.wppr-p45 .wppr-bar {
    -webkit-transform: rotate(162deg);
    -ms-transform: rotate(162deg);
    transform: rotate(162deg);
}

.wppr-c100.wppr-p46 .wppr-bar {
    -webkit-transform: rotate(165.6deg);
    -ms-transform: rotate(165.6deg);
    transform: rotate(165.6deg);
}

.wppr-c100.wppr-p47 .wppr-bar {
    -webkit-transform: rotate(169.2deg);
    -ms-transform: rotate(169.2deg);
    transform: rotate(169.2deg);
}

.wppr-c100.wppr-p48 .wppr-bar {
    -webkit-transform: rotate(172.8deg);
    -ms-transform: rotate(172.8deg);
    transform: rotate(172.8deg);
}

.wppr-c100.wppr-p49 .wppr-bar {
    -webkit-transform: rotate(176.4deg);
    -ms-transform: rotate(176.4deg);
    transform: rotate(176.4deg);
}

.wppr-c100.wppr-p50 .wppr-bar {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.wppr-c100.wppr-p51 .wppr-bar {
    -webkit-transform: rotate(183.6deg);
    -ms-transform: rotate(183.6deg);
    transform: rotate(183.6deg);
}

.wppr-c100.wppr-p52 .wppr-bar {
    -webkit-transform: rotate(187.2deg);
    -ms-transform: rotate(187.2deg);
    transform: rotate(187.2deg);
}

.wppr-c100.wppr-p53 .wppr-bar {
    -webkit-transform: rotate(190.8deg);
    -ms-transform: rotate(190.8deg);
    transform: rotate(190.8deg);
}

.wppr-c100.wppr-p54 .wppr-bar {
    -webkit-transform: rotate(194.4deg);
    -ms-transform: rotate(194.4deg);
    transform: rotate(194.4deg);
}

.wppr-c100.wppr-p55 .wppr-bar {
    -webkit-transform: rotate(198deg);
    -ms-transform: rotate(198deg);
    transform: rotate(198deg);
}

.wppr-c100.wppr-p56 .wppr-bar {
    -webkit-transform: rotate(201.6deg);
    -ms-transform: rotate(201.6deg);
    transform: rotate(201.6deg);
}

.wppr-c100.wppr-p57 .wppr-bar {
    -webkit-transform: rotate(205.2deg);
    -ms-transform: rotate(205.2deg);
    transform: rotate(205.2deg);
}

.wppr-c100.wppr-p58 .wppr-bar {
    -webkit-transform: rotate(208.8deg);
    -ms-transform: rotate(208.8deg);
    transform: rotate(208.8deg);
}

.wppr-c100.wppr-p59 .wppr-bar {
    -webkit-transform: rotate(212.4deg);
    -ms-transform: rotate(212.4deg);
    transform: rotate(212.4deg);
}

.wppr-c100.wppr-p60 .wppr-bar {
    -webkit-transform: rotate(216deg);
    -ms-transform: rotate(216deg);
    transform: rotate(216deg);
}

.wppr-c100.wppr-p61 .wppr-bar {
    -webkit-transform: rotate(219.6deg);
    -ms-transform: rotate(219.6deg);
    transform: rotate(219.6deg);
}

.wppr-c100.wppr-p62 .wppr-bar {
    -webkit-transform: rotate(223.2deg);
    -ms-transform: rotate(223.2deg);
    transform: rotate(223.2deg);
}

.wppr-c100.wppr-p63 .wppr-bar {
    -webkit-transform: rotate(226.8deg);
    -ms-transform: rotate(226.8deg);
    transform: rotate(226.8deg);
}

.wppr-c100.wppr-p64 .wppr-bar {
    -webkit-transform: rotate(230.4deg);
    -ms-transform: rotate(230.4deg);
    transform: rotate(230.4deg);
}

.wppr-c100.wppr-p65 .wppr-bar {
    -webkit-transform: rotate(234deg);
    -ms-transform: rotate(234deg);
    transform: rotate(234deg);
}

.wppr-c100.wppr-p66 .wppr-bar {
    -webkit-transform: rotate(237.6deg);
    -ms-transform: rotate(237.6deg);
    transform: rotate(237.6deg);
}

.wppr-c100.wppr-p67 .wppr-bar {
    -webkit-transform: rotate(241.2deg);
    -ms-transform: rotate(241.2deg);
    transform: rotate(241.2deg);
}

.wppr-c100.wppr-p68 .wppr-bar {
    -webkit-transform: rotate(244.8deg);
    -ms-transform: rotate(244.8deg);
    transform: rotate(244.8deg);
}

.wppr-c100.wppr-p69 .wppr-bar {
    -webkit-transform: rotate(248.4deg);
    -ms-transform: rotate(248.4deg);
    transform: rotate(248.4deg);
}

.wppr-c100.wppr-p70 .wppr-bar {
    -webkit-transform: rotate(252deg);
    -ms-transform: rotate(252deg);
    transform: rotate(252deg);
}

.wppr-c100.wppr-p71 .wppr-bar {
    -webkit-transform: rotate(255.6deg);
    -ms-transform: rotate(255.6deg);
    transform: rotate(255.6deg);
}

.wppr-c100.wppr-p72 .wppr-bar {
    -webkit-transform: rotate(259.2deg);
    -ms-transform: rotate(259.2deg);
    transform: rotate(259.2deg);
}

.wppr-c100.wppr-p73 .wppr-bar {
    -webkit-transform: rotate(262.8deg);
    -ms-transform: rotate(262.8deg);
    transform: rotate(262.8deg);
}

.wppr-c100.wppr-p74 .wppr-bar {
    -webkit-transform: rotate(266.4deg);
    -ms-transform: rotate(266.4deg);
    transform: rotate(266.4deg);
}

.wppr-c100.wppr-p75 .wppr-bar {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.wppr-c100.wppr-p76 .wppr-bar {
    -webkit-transform: rotate(273.6deg);
    -ms-transform: rotate(273.6deg);
    transform: rotate(273.6deg);
}

.wppr-c100.wppr-p77 .wppr-bar {
    -webkit-transform: rotate(277.2deg);
    -ms-transform: rotate(277.2deg);
    transform: rotate(277.2deg);
}

.wppr-c100.wppr-p78 .wppr-bar {
    -webkit-transform: rotate(280.8deg);
    -ms-transform: rotate(280.8deg);
    transform: rotate(280.8deg);
}

.wppr-c100.wppr-p79 .wppr-bar {
    -webkit-transform: rotate(284.4deg);
    -ms-transform: rotate(284.4deg);
    transform: rotate(284.4deg);
}

.wppr-c100.wppr-p80 .wppr-bar {
    -webkit-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    transform: rotate(288deg);
}

.wppr-c100.wppr-p81 .wppr-bar {
    -webkit-transform: rotate(291.6deg);
    -ms-transform: rotate(291.6deg);
    transform: rotate(291.6deg);
}

.wppr-c100.wppr-p82 .wppr-bar {
    -webkit-transform: rotate(295.2deg);
    -ms-transform: rotate(295.2deg);
    transform: rotate(295.2deg);
}

.wppr-c100.wppr-p83 .wppr-bar {
    -webkit-transform: rotate(298.8deg);
    -ms-transform: rotate(298.8deg);
    transform: rotate(298.8deg);
}

.wppr-c100.wppr-p84 .wppr-bar {
    -webkit-transform: rotate(302.4deg);
    -ms-transform: rotate(302.4deg);
    transform: rotate(302.4deg);
}

.wppr-c100.wppr-p85 .wppr-bar {
    -webkit-transform: rotate(306deg);
    -ms-transform: rotate(306deg);
    transform: rotate(306deg);
}

.wppr-c100.wppr-p86 .wppr-bar {
    -webkit-transform: rotate(309.6deg);
    -ms-transform: rotate(309.6deg);
    transform: rotate(309.6deg);
}

.wppr-c100.wppr-p87 .wppr-bar {
    -webkit-transform: rotate(313.2deg);
    -ms-transform: rotate(313.2deg);
    transform: rotate(313.2deg);
}

.wppr-c100.wppr-p88 .wppr-bar {
    -webkit-transform: rotate(316.8deg);
    -ms-transform: rotate(316.8deg);
    transform: rotate(316.8deg);
}

.wppr-c100.wppr-p89 .wppr-bar {
    -webkit-transform: rotate(320.4deg);
    -ms-transform: rotate(320.4deg);
    transform: rotate(320.4deg);
}

.wppr-c100.wppr-p90 .wppr-bar {
    -webkit-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    transform: rotate(324deg);
}

.wppr-c100.wppr-p91 .wppr-bar {
    -webkit-transform: rotate(327.6deg);
    -ms-transform: rotate(327.6deg);
    transform: rotate(327.6deg);
}

.wppr-c100.wppr-p92 .wppr-bar {
    -webkit-transform: rotate(331.2deg);
    -ms-transform: rotate(331.2deg);
    transform: rotate(331.2deg);
}

.wppr-c100.wppr-p93 .wppr-bar {
    -webkit-transform: rotate(334.8deg);
    -ms-transform: rotate(334.8deg);
    transform: rotate(334.8deg);
}

.wppr-c100.wppr-p94 .wppr-bar {
    -webkit-transform: rotate(338.4deg);
    -ms-transform: rotate(338.4deg);
    transform: rotate(338.4deg);
}

.wppr-c100.wppr-p95 .wppr-bar {
    -webkit-transform: rotate(342deg);
    -ms-transform: rotate(342deg);
    transform: rotate(342deg);
}

.wppr-c100.wppr-p96 .wppr-bar {
    -webkit-transform: rotate(345.6deg);
    -ms-transform: rotate(345.6deg);
    transform: rotate(345.6deg);
}

.wppr-c100.wppr-p97 .wppr-bar {
    -webkit-transform: rotate(349.2deg);
    -ms-transform: rotate(349.2deg);
    transform: rotate(349.2deg);
}

.wppr-c100.wppr-p98 .wppr-bar {
    -webkit-transform: rotate(352.8deg);
    -ms-transform: rotate(352.8deg);
    transform: rotate(352.8deg);
}

.wppr-c100.wppr-p99 .wppr-bar {
    -webkit-transform: rotate(356.4deg);
    -ms-transform: rotate(356.4deg);
    transform: rotate(356.4deg);
}

.wppr-c100.wppr-p100 .wppr-bar {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
