/*
Template 1
 */

.wppr-template-1 .wppr-review-stars-author,
.wppr-template-1 .wppr-review-grade-number,
.wppr-template-1 .wppr-review-grade-option-header span,
.wppr-template-1 .wppr-review-pros-cons h3 {
	color: inherit;
}

.wppr-template-1 .wppr-review-grade,
.wppr-template-1 .wppr-review-pros-cons {
	margin-top: 30px;
}

.wppr-template-1 .wppr-review-grade {
	display: table;
	width: 100%;
}

.wppr-template-1 .wppr-review-stars-grade {
	display: table-cell;
	float: left;
	position: relative;
	font-family: FontAwesome;
	font-size: 38px;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
}

.wppr-template-1.rtl .wppr-review-stars-grade {
	float: right;
}

.wppr-template-1 .wppr-review-stars.rtl .wppr-review-stars-grade i.fa-star-half-o {
	transform: rotateY(180deg);
}


.wppr-template-1 .wppr-review-stars-author {
	display: table-cell;
	width: 100%;
	padding-left: 15px;
	font-weight: 700;
	vertical-align: middle;
}

.wppr-template-1.rtl .wppr-review-stars-author {
	padding-left: 0px;
	padding-right: 15px;
}

.wppr-template-1 .wppr-review-grade-number,
.wppr-template-1 .wppr-review-grade-options {
	display: table-cell;
	width: 100%;
	vertical-align: top;
}

.wppr-template-1 .wppr-review-grade-number {
	float: left;
	font-size: 60px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.085em;
}

.wppr-template-1 .wppr-review-grade-option-header span {
	float: left;
	width: 50%;
}

.wppr-template-1.rtl .wppr-review-grade-option-header span {
	float: right;
	width: 50%;
}

.wppr-template-1 .wppr-review-grade-options {
	padding-left: 45px;
}

.wppr-template-1 .wppr-review-grade-options.rtl {
	padding-right: 45px;
	padding-left: 0px;
}


.wppr-template-1 .wppr-review-grade-option-header span:last-of-type {
	font-weight: 700;
	text-align: right;
}

.wppr-template-1.rtl .wppr-review-grade-option-header span:last-of-type {
	font-weight: 700;
	text-align: left;
}

.wppr-template-1 .wppr-review-grade-option-header span:first-of-type {
	font-weight: 700;
	text-align: left;
}
.wppr-template-1.rtl .wppr-review-grade-option-header span:first-of-type {
	text-align: right;
}

.wppr-template-1 .wppr-review-grade-option-rating {
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 8px;
	margin-bottom: 15px;
	border-radius: 10px;
}

.wppr-template-1 .wppr-review-grade-option-rating span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	-webkit-animation: animFiller 2s ease-in-out;
	animation: animFiller 2s ease-in-out;
}

.wppr-template-1 .wppr-review-pros-cons {
	display: table;
	width: 100%;
}

.wppr-template-1 .wppr-review-pros-cons > div {
	display: table-cell;
	width: 50%;
	vertical-align: top;
}

.wppr-template-1 .wppr-review-one-column > div {
	width: 100%;
}

.wppr-template-1 .wppr-review-pros-cons h3 {
	margin: 0 !important;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.wppr-template-1 .wppr-review-pros-cons ul {
	margin: 0;
	padding-left: 20px;
	color: inherit;
	font-size: 16px;
	list-style-type: square;
}

.wppr-template-1.rtl .wppr-review-pros-cons ul {
	list-style-position: inside;
}

.wppr-template-1.rtl .affiliate-button a span {
	margin-right: -10px;
	padding-right: 20px;
	margin-left: auto;
	padding-left: auto;
}

@media (max-width: 768px) {
	.wppr-template-1 .wppr-review-stars {
		width: 100%;
		text-align: center;
	}

	.wppr-template-1 .wppr-review-stars .wppr-review-stars-grade {
		display: inline-block;
		float: none;
	}

	.wppr-template-1 .wppr-review-stars-author {
		display: block;
	}

	.wppr-template-1 .wppr-review-stars .wppr-review-stars-grade li {
		float: none;
	}

	.wppr-template-1 .wppr-review-pros-cons > div {
		display: block;
		width: 100%;
	}
}

.wppr-template-1 .wppr-review-product-image {
	display: inline-block;
	float: left;
	overflow: hidden;
	position: relative;
	width: 120px;
	height: 120px;
}

.amp-single .wppr-template-1 .wppr-review-product-image .wppr-default-img,
.amp-single .wppr-template-1 .wppr-review-product-image .wppr-product-image {
	width: 100px;
	height: 100px;
}

.wppr-template-1 .wppr-review-product-image {
	width: 100px;
	height: 100px;
	margin-top: 5px;
}

.wppr-template-1 .wppr-review-product-image img {
	position: absolute;
	top: 50%;
	bottom: -40px;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.wppr-template-1 .wppr-review-product-image.wppr-review-product-image-full img {
	width: auto;
	max-width: none;
	height: 100%;
}

.wppr-template-1 ul.wppr-custom-icon {
	width: 100% !important;
	margin: 0;
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.wppr-template-1 ul.wppr-custom-icon li {
	display: inline-block;
	height: auto;
	background: transparent !important;
	font-family: FontAwesome;
	font-size: 22px;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	text-rendering: auto;
}

@media (max-width: 480px) {
	.wppr-template-1 .wppr-review-grade-options,
	.wppr-template-1 .wppr-review-grade-number {
		display: block;
		width: 100%;
		text-align: center;
		padding: 0;
	}

	.wppr-template-1 .wppr-review-stars .wppr-review-stars-grade,
	.wppr-template-1 .wppr-review-stars .wppr-review-full-stars {
		font-size: 28px;
	}

	.wppr-template-1 .wppr-review-grade-number {
		font-size: 48px;
	}

	.wppr-template-1 .wppr-review-grade-option-header span {
		text-align: left;
	}

	.wppr-template-1 .wppr-review-product-image {
		float: none;
		margin: auto;
		display: block;
	}

}

@-webkit-keyframes animFiller {
	0% {
		width: 0;
	}
}

@keyframes animFiller {
	0% {
		width: 0;
	}
}
